@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<div class="d-flex justify-content-center align-items-center">
    <div class="col-md-6">
        <section>

            <div class="text-center">
                <img src="~/images/logo.png" alt="Cross Planner Logo" class="logo" />
            </div>


            <form id="account" method="post">
                <div class="card bg-light">
                    <div class="card-body">
                        <h3>Choose a new password for your Cross Planner account</h3>
                        <div class="password-requirements">
                            Password must contain:
                            <ul>
                                <li>At least one digit</li>
                                <li>At least one lowercase letter</li>
                                <li>At least one uppercase letter</li>
                                <li>At least one non-alphanumeric character</li>
                                <li>Minimum length of 7 characters</li>
                            </ul>
                        </div>
                        <hr />

                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <input asp-for="Input.Code" type="hidden" />
                        <input asp-for="Input.Email" type="hidden" />

                        <div class="form-floating mb-3">
                            <input asp-for="Input.Password" id="password-input" class="form-control" autocomplete="new-password" aria-required="true" required />
                            <label asp-for="Input.Password" class="form-label">Password <span class="required">*</span></label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="Input.ConfirmPassword" id="confirm-password-input" class="form-control" autocomplete="new-password" aria-required="true" required />
                            <label asp-for="Input.ConfirmPassword" class="form-label">Confirm Password <span class="required">*</span></label>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <button type="submit" id="change-submit" class="w-100 btn btn-lg btn-green"><i class="fas fa-key" aria-hidden="true"></i> Change Password</button>
                        </div>

                        <div class="mb-1">
                            <a id="forgot-password" asp-page="./Login">Return to login page</a>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/resetPassword.js"></script>
}
