html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Styling the main and secondary buttons of the site */
.btn-green {
    color: #fff;
    background-color: #077b35;
    border-color: #077b35;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
}

    .btn-green:hover {
        color: #fff;
        background-color: #09a045;
        border-color: #09a045;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15); /* Slightly more prominent shadow on hover */
    }

    .btn-green:focus {
        color: #fff;
        background-color: #09a045;
        border-color: #09a045;
        box-shadow: 0 0 0 0.25rem rgba(9, 160, 69, 0.5), 0 2px 4px rgba(0, 0, 0, 0.2); /* Additional focus shadow */
    }

    .btn-green:active {
        color: #fff;
        background-color: #06632b;
        border-color: #06632b;
    }

    .btn-green:disabled, .btn-green.disabled {
        color: #fff;
        background-color: #cccccc;
        border-color: #cccccc;
        box-shadow: none; /* No shadow for disabled state to flatten the appearance */
    }

.btn-grey {
    color: #fff;
    background-color: #575656;
    border-color: #575656;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
}

    .btn-grey:hover {
        color: #fff;
        background-color: #6e6e6e;
        border-color: #6e6e6e;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    }

    .btn-grey:focus {
        color: #fff;
        background-color: #6e6e6e;
        border-color: #6e6e6e;
        box-shadow: 0 0 0 0.25rem rgba(87, 86, 86, 0.5), 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    .btn-grey:active {
        color: #fff;
        background-color: #505050;
        border-color: #505050;
    }

    .btn-grey:disabled, .btn-grey.disabled {
        color: #cccccc;
        background-color: #e0e0e0;
        border-color: #dcdcdc;
        box-shadow: none;
    }

/* Styling input elements to have rounded corners */
.form-control {
    border-radius: 10px;
}

/* Styling h3 elements to have gray text */
h3 {
    color: #575656;
}

/* Logo image style */
.logo {
    max-width: 120px;
    max-height: 120px;
    margin-bottom: 25px; 
}

/* Styling card to have a cleaner look */
.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


.required {
    color: #ff0000;
}

.password-requirements {
    font-size: 0.9em;
    color: #666;
    margin-top: 10px;
}



.float-right {
    float: right !important;
}

.float-left {
    float: left !important;
}

/* Styles for canceled classes */
.canceled-class {
    background-color: #f8d7da; /* Light red background */
    color: #721c24; /* Dark red text */
    border-left: 5px solid #f5c6cb; /* Red border */
}

/* Styles for inactive classes */
.inactive-class {
    background-color: #e2e3e5; /* Light gray background */
    color: #6c757d; /* Gray text */
    border-left: 5px solid #ced4da; /* Gray border */
    opacity: 0.7; /* Make it slightly transparent */
}


















@media (max-width: 768px) {
    .main-logo {
        max-width: 100px; /* Smaller size for mobile devices */
    }
}

.main-logo {
    height: auto;
    width: 120px; /* Adjust based on your preference */
    transition: all 0.3s ease-in-out; /* Smooth transition for any changes */
}