@model IEnumerable<Notification>
@{
    ViewData["Title"] = "Notifications";
}

@if (Model.Any())
{
    <div class="container">
        @foreach (var notification in Model)
        {
            <div class="card mb-3 shadow-sm">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="card-title mb-0">@notification.Title</h5>
                    <small class="text-muted">Posted on @notification.CreatedDate.ToString("MMMM dd, yyyy")</small>
                </div>
                <div class="card-body">
                    <p class="card-text"> @Html.Raw(notification.Message)</p>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="alert alert-info mt-4 text-center">
        No notifications available at this time.
    </div>
}