dhtml {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Styling the main and secondary buttons of the site */
.btn-green {
    color: #fff;
    background-color: #077b35;
    border-color: #077b35;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
}

    .btn-green:hover {
        color: #fff;
        background-color: #09a045;
        border-color: #09a045;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15); /* Slightly more prominent shadow on hover */
    }

    .btn-green:focus {
        color: #fff;
        background-color: #09a045;
        border-color: #09a045;
        box-shadow: 0 0 0 0.25rem rgba(9, 160, 69, 0.5), 0 2px 4px rgba(0, 0, 0, 0.2); /* Additional focus shadow */
    }

    .btn-green:active {
        color: #fff;
        background-color: #06632b;
        border-color: #06632b;
    }

    .btn-green:disabled, .btn-green.disabled {
        color: #fff;
        background-color: #cccccc;
        border-color: #cccccc;
        box-shadow: none; /* No shadow for disabled state to flatten the appearance */
    }

.btn-grey {
    color: #fff;
    background-color: #575656;
    border-color: #575656;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
}

    .btn-grey:hover {
        color: #fff;
        background-color: #6e6e6e;
        border-color: #6e6e6e;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    }

    .btn-grey:focus {
        color: #fff;
        background-color: #6e6e6e;
        border-color: #6e6e6e;
        box-shadow: 0 0 0 0.25rem rgba(87, 86, 86, 0.5), 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    .btn-grey:active {
        color: #fff;
        background-color: #505050;
        border-color: #505050;
    }

    .btn-grey:disabled, .btn-grey.disabled {
        color: #cccccc;
        background-color: #e0e0e0;
        border-color: #dcdcdc;
        box-shadow: none;
    }

/* Styling input elements to have rounded corners */
.form-control {
    border-radius: 10px;
}

/* Styling h3 elements to have gray text */
h3 {
    color: #575656;
}

/* Logo image style */
.logo {
    max-width: 120px;
    max-height: 120px;
    margin-bottom: 25px;
}

/* Styling card to have a cleaner look */
.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


.required {
    color: #ff0000;
}

.password-requirements {
    font-size: 0.9em;
    color: #666;
    margin-top: 10px;
}


.progress-wrapper .step-labels span {
    flex: 1;
    text-align: center;
}

/* Styles for canceled classes */
.canceled-class {
    background-color: #f8d7da; /* Light red background */
    color: #721c24; /* Dark red text */
    border-left: 5px solid #f5c6cb; /* Red border */
}

.profile-picture {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 0 auto;
    object-fit: cover;
    border: 1px solid #ffffff;
}

.whos-coming-card {
    border: none;
    border-radius: 10px;
}

.whos-coming-card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.whos-coming-card:hover {
    transform: translateY(-5px);
    transition: transform 0.2s ease-in-out;
}

.whos-coming-card:hover .whos-coming-card-title {
        color: #dc3545; /* Optional: Change the text color on hover */
    }


.navbar {
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.1);
    padding: 0.75rem 1rem;
}

.nav-link {
    color: #575656;
    font-size: 1.1rem;
    margin-right: 15px;
    text-decoration: none;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

    .nav-link:hover {
        color: #6e6e6e;
        text-decoration: none;
        border-bottom: 2px solid #6e6e6e;
    }

    .nav-link.active {
        color: #077b35;
        font-weight: bold;
        border-bottom: 3px solid #077b35;
    }

.affiliate-name {
    color: #077b35;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.attendance-summary-circle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 3px solid #077b35;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.profile-picture-preview {
    width: 200px;
    height: 200px;
    object-fit: cover; /* Ensures the image fills the preview box */
    border: 2px solid #ddd;
    /* Remove any border-radius to keep it square */
}


/* Smaller thumbnail display at 200x200 */
.profile-thumbnail {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%; /* Circular display */
    border: 2px solid;
}











@media (max-width: 768px) {
    .main-logo {
        max-width: 100px; /* Smaller size for mobile devices */
    }
}

.main-logo {
    height: auto;
    width: 120px; /* Adjust based on your preference */
    transition: all 0.3s ease-in-out; /* Smooth transition for any changes */
}