@model Membership
@{
}

<div class="container mt-t5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header bg-warning text-black">
                    <h5 class="mb-0">Warning: Active Membership</h5>
                </div>
                <div class="card-body">
                    <p>If you are considering a new membership, please cancel your existing membership beforehand.</p>
                </div>
            </div>
        </div>
    </div>
</div>