@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="d-flex justify-content-center align-items-center">
    <div class="col-md-5">
        <section>

            <div class="text-center">
                <img src="~/images/logo.png" alt="Cross Planner Logo" class="logo" />
            </div>

            <form method="post" id="account">
                <div class="card bg-light">
                    <div class="card-body">
                        <h3>Provide your email for password reset instructions</h3>
                        <hr />

                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                        <div class="form-floating mb-3">
                            <input asp-for="Input.Email" id="email-input" class="form-control" autocomplete="username" aria-required="true" />
                            <label asp-for="Input.Email" class="form-label">Email <span class="required">*</span></label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <button type="submit" id="forgot-submit" class="w-100 btn btn-lg btn-green" disabled><i class="fas fa-envelope" aria-hidden="true"></i> Email Some Help</button>
                        </div>

                        <div class="mb-1">
                            <a id="forgot-password" asp-page="./Login">Return to login page</a>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/forgotPassword.js"></script>
}
