@model ErrorViewModel
@{

}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header bg-danger text-white">
                    <h5 class="mb-0">Error: Something Went Wrong</h5>
                </div>
                <div class="card-body">
                    <p>We're sorry, but an unexpected error has occurred. Here's what you can do:</p>
                    <ul>
                        <li>Return to the <a href="/">home page</a>.</li>
                        <li>Try the operation again in a few minutes.</li>
                        <li>If you need immediate assistance, please contact our Technical Support at <a href="tel:+447702077527">07702077527</a>.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>